<div class="row mb-4">
	<div class="col">
		<h2 class="text-white"><strong><%= @topic.title %></strong></h2>
		<p class="text-white"><em><%= @topic.subtitle %></em></p>
	</div>
	<div class="col-4">
		<% if @current_user.present? %>
			<% if @current_user.admin? %>
				<div class="row mb-2">
					<div class="col">
						<%= link_to "Edit Topic", edit_topic_path( @topic.id ), :class => 'btn btn-outline-dark btn-block btn-small text-white' %>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<%= link_to "Delete Topic", topic_path( @topic.id ), :method => 'delete', :class => 'btn btn-outline-dark btn-block text-white' %>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>
</div>

<div class="row mb-4 ">
	<div class="col"></div>
	<div class="col-4">
		<% if @current_user.present? %>
			<%= link_to "New Post", new_topic_post_path( @topic.id ), :class => 'btn btn-outline-dark btn-block text-white' %>
		<% end %>
	</div>
</div>

<% @posts.each do |post| %>
	<div class="row">
		<div class="col">
			<%= link_to topic_post_path( post.topic.id, post.id ) do %>
				<div class="card shadow-sm text-white bg-transparent mb-4">
					<div class="card-body">
						<h5><%= post.post_title %></h5>
						<p class="mb-0"><em><%= post.initial_content.truncate(256) %></em></p>
					</div>
				</div>
			<% end %>
		</div>
	</div>
<% end %>
