<div class="post-heading">
	<h2><%= @initial_post.post_title %></h2>
</div>

<p>
	<strong><%= @initial_post.user.username %></strong>
	fires it off with;</p>
<%= @initial_post.initial_content %>

<% @responses.each do |response| %>
	<p><strong><%= response.user.username %></strong> replies;</p>
	<p><%= response.content %></p>
<% end %>

<div class="post-controls">
	<% if @current_user.id == @initial_post.user.id %>
		<%= link_to "Edit Your Post", edit_topic_post_path( params[:topic_id], @initial_post.id) %>
	<% end %>
</div>
