<div class="row">
	<div class="col">
		<h2 class="text-white mb-4"><strong><%= @initial_post.post_title %></strong></h2>
	</div>
</div>

<div class="row mb-4">
	<div class="col">
		<div class="card">
			<div class="card-header">
				<p class="mb-0"><em><strong><%= @initial_post.user.email %></strong> gets the ball rolling with;</em></p>
			</div>
			<div class="card-body">
				<p class="card-text"><%= @initial_post.initial_content %></p>
			</div>
	<% if @current_user.present? %>
		<% if @current_user.id == @initial_post.user.id %>
			<div class="card-footer text-right">
				<%= link_to "Edit Post", edit_topic_post_path( params[:topic_id], @initial_post.id ), :class => 'btn btn-outline-warning btn-sm' %>
			</div>
		<% end %>
	<% end %>
		</div>
	</div>
</div>

<% @responses.each do |response| %>
	<div class="response">
		<div class="row mb-4">
			<div class="col">
				<div class="card">
					<div class="card-header">
						<p class="mb-0"><em><strong><%= response.user.email %></strong> replies;</em></p>
					</div>
					<div class="card-body">
						<p class="mb-0"><%= response.content %></p>
					</div>

					<% if @current_user.present? %>
						<% if @current_user.id == response.user_id %>
							<div class="card-footer text-right">
								<a href="#" class="toggle-edit btn btn-outline-warning btn-sm">Edit Response</a>
								<%= link_to "Delete Response", response_path( response.id ), :method => 'delete', :class => 'btn btn-outline-danger btn-sm' %>
							</div>
						<% end %>
					<% end %>
				</div>

				<%= bootstrap_form_for response do |f| %>
					<%= f.text_area :content %>
					<%= f.submit %>
				<% end %>

			</div>
		</div>
	</div>
<% end %>

<% if @current_user.present? %>
	<div class="create-response">
		<div class="row">
			<div class="col">
				<p><a href="#" class="toggle-create btn btn-success btn-lg btn-block">Create Response</a></p>
				<%= bootstrap_form_for Response.new, :html => { :class => 'text-white' } do |f| %>
				<%= hidden_field_tag :post_id, params[:id] %>
					<%= f.text_area :content %>
					<%= f.submit %>
				<% end %>
			</div>
		</div>
	</div>
<% end %>
